In [2]:

import pandas as pd

#abrimos el archivo csv como un dataframe de pandas


estaciones=pd.read_csv(r"C:\Users\mati_\Desktop\Diplomatura_en_ciencia_de_datos\Archivos_de_datos\estaciones_metereologicas.csv")

In [13]:

#muestro las primeras lineas del datframe

estaciones.head()

,\tNOMBRE,PROVINCIA,LAT_GR,LAT_MIN,LONG_GR,LONG_MIN,ALTURA,NRO,NroOACI
0,\tBASE BELGRANO II,ANTARTIDA,-77,52,-34,38,256,89034,SAYB
1,\tBASE CARLINI (EX JUBANY),ANTARTIDA,-62,14,-58,40,11,89053,SAYJ
2,\tBASE ESPERANZA,ANTARTIDA,-63,24,-57,0,24,88963,SAYE
3,\tBASE MARAMBIO,ANTARTIDA,-64,14,-56,38,198,89055,SAWB
4,\tBASE ORCADAS,ANTARTIDA,-60,44,-44,44,12,88968,SAYO

In [14]:
# le pedimos que nos muestre el numero total de filas y columnas (o la forma del dataframe)
estaciones.shape

(123, 9)

In [33]:
# calculamos la media, desviacion estandar, valor minimo y valor maximo de la columna "altura"

alturas=estaciones["ALTURA"]
print(" Media: ",round(alturas.mean(),2),"\n","Desviacion estandar: ", round(alturas.std(),2),"\n", "Valor maximo: ", alturas.max(),"\n", "Valor minimo: ", alturas.min())

 Media:  331.51
 Desviacion estandar:  456.74
 Valor maximo:  3459
 Valor minimo:  5

In [ ]:
# el metodo ".describe" nos da todos esos valores, ademas de otros.
alturas.describe()